.clink {
  float: left;
  border-style: double;
  border-radius: 2ex;
  padding-bottom: 2ex;
  padding-top: -2ex;
}

.vlink {
  float: right;
  border-style: double;
  border-radius: 2ex;
  padding-bottom: 2ex;
  padding-top: -2ex;
}

.elink {
  float: center;
  border-style: double;
  border-radius: 2ex;
  padding-bottom: 2ex;
  padding-top: -2ex;
}
body{
    background-color:white;
    text-align: center;
}

a {
    color: rgb(133, 64, 64);
    border: none;
    margin: 10px;
    cursor: pointer;
    font-family: 'Marcellus', serif;
    font-weight: bold;
    border-radius: 12px;
    padding: 10 50px;
}

a:hover {
    background-color: darkred;
    color: black;
}

/* Home css */



.about {
    background-color: #dcdcdc;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    margin: auto;
    height: auto;
    width: 700px;
    border-radius: 15px;
}




/* NavBar css */

#NavLogo{
  float: left;
  height: 1em;
  width: auto;
}

Link {
  float: center;
  text-align:center;
} 

/* charity page css*/
label {
    float: center;
}

#signup {
  float: center;
  height: auto;
  width: auto;
  text-align:center;
  color: black;
}

input {
    float: center;
    width: auto;
    height: auto;
    border-radius: 1em;
}

select {
  float: center;
  width: auto;
  height: auto;
}

#signupbutton{
  margin-top: 1em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(76, 89, 175);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#signupbutton:hover {
  background-color: darkblue;
}

#signupbutton:active {
  background-color: #3e7d8e;
  box-shadow: 0 5px rgb(66, 64, 64);
  transform: translateY(4px);
}

/* Charity Profile css */

#update {
    float: left;
    height: auto;
    width: auto;
    text-align:center;
    color: white;
}

#delete {
    float: right;
    height: auto;
    width: auto;
    text-align:center;
    color: white;
}

/* Charity Login css */

#login {
    float: center;
    height: auto;
    width: auto;
    text-align:center;
    color:black;
}

/*  ?  */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
